<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.chapter21.mapper.TaskRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_item_id, business_key, task_status, create_time, create_by, update_time, update_by
    </sql>

</mapper>
